DATABASE_URL="postgresql://user:password@localhost:5432/blog?schema=public"
# For docker-compose, use: postgresql://user:password@db:5432/blog?schema=public
JWT_SECRET="dev-jwt-secret-please-change-in-production-32-chars-minimum-length"
JWT_REFRESH_SECRET="dev-jwt-refresh-secret-please-change-in-production-32-chars"
PORT=3000
CLIENT_URL=http://localhost:3000
